[Unit]
Description=Run A->B rsync every 15m

[Timer]
OnBootSec=2m
OnUnitActiveSec=15m
AccuracySec=1m
Persistent=true
Unit=rsync-A-B.service

[Install]
WantedBy=timers.target
