[Unit]
Description=VM clipboard -> file (v2h.txt)
After=graphical-session.target
Wants=graphical-session.target
ConditionPathExistsGlob=%t/wayland-*

[Service]
Environment=XDG_RUNTIME_DIR=%t
ExecStart=%h/.local/bin/t4L-clip-wlh-clip-to-file.sh
Restart=always

[Install]
WantedBy=default.target

